body {
    height: 250px;
    width: 200px;
}
.tab-toggle:hover {
    background-color: indianred;
}
.tab-toggle.active {
    background-color: lawngreen;
}
#magic {
    text-align: center;
    background-color: greenyellow;
}
#magic:active {
    background-color: yellow;
}

.tab-content {
    display: none;
}
